<li class="w3-bar w3-padding">
  <div class="w3-bar-item">
    <span class="w3-large"><%= link_to owner.name, owner_path(owner) %></span><br>
    <span>Neighborhood: <%= owner.neighborhood %></span><br>
    <span>Primary Phone: <%= owner.phone %></span>
  </div>
</li> 