<div class="w3-container w3-section">
  <div class="w3-card-4 w3-round-large">
    <header class="w3-container w3-black w3-padding w3-round-top-large">
      <div class="w3-row">
        <div class="w3-col m8 l9">
          <h1 class="w3-xlarge" style="margin-top:10px; margin-bottom:10px;">Owners</h1>
        </div>
        <div class="w3-col m4 l3 w3-right-align">
          <%= link_to new_owner_path, class: 'w3-button w3-green w3-round w3-small w3-hover-light-green w3-margin-top-small' do %>
            <i class="fa fa-plus"></i> New Owner
          <% end %>
        </div>
      </div>
    </header>

    <%# Add Search/Filter form here if needed %>

    <% if @owners.present? %>
      <ul class="w3-ul w3-hoverable">
        <% @owners.each do |owner| %>
          <li class="w3-bar w3-padding">
            <div class="w3-bar-item">
              <%# Note: Original link was to owner_pets_path(owner). Adjusted to owner_path(owner) for consistency, review if owner_pets_path is preferred. %>
              <span class="w3-large"><%= link_to owner.name, owner_path(owner) %></span><br>
              <span>Neighborhood: <%= owner.neighborhood %></span><br>
              <span>Primary Phone: <%= owner.phone %></span>
              <%# Add other details if needed, e.g., email (if not too sensitive for a list) %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="w3-container w3-padding w3-center">
        <p>No owners found.</p>
      </div>
    <% end %>

    <%# Add pagination links here if needed %>
  </div>
</div>
