<h1>Pets</h1>
<table>
  <% @pets.each do |pet| %>

  <tr>
    <td><%= link_to pet.name_with_owner, pet_path(pet) %></td>
    <td><%= link_to pet.owner.address, "https://www.google.com/maps/place/#{pet.owner.address.gsub(' ', '+')},+#{pet.owner.zip_code}", target: '_blank' %></td>
  </tr>

  <% end %>
</table>
