<%= render layout: 'shared/w3_content_card', locals: { title: (@owner ? "New Pet for #{@owner.name}" : "Create New Pet"), max_width: "700px" } do %>
  <% if flash.alert %>
    <div class="w3-panel w3-red w3-padding w3-margin-bottom w3-round">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-red w3-large w3-display-topright w3-round">&times;</span>
      <p><%= flash.alert %></p>
    </div>
  <% end %>
  <%= render 'form', pet: @pet, owner: @owner %>
<% end %>
