<li class="w3-bar w3-padding">
  <div class="w3-bar-item">
    <span class="w3-large"><%= link_to user.name, user_path(user) %></span><br>
    <span>Role: <%= user.role %></span><br>
    <span>Email: <%= user.email %></span>
  </div>
</li>
