<div class="w3-container w3-center w3-padding-32" style="min-height: 80vh; display: flex; flex-direction: column; justify-content: center;">
  <div class="w3-container w3-padding-bottom">
    <%= image_tag "logo.avif", alt: "Oh My Dog! Logo", class: "w3-image welcome-logo", style: "margin:auto;" %>
  </div>

  <header class="w3-container w3-center">
    <h1 class="welcome-heading">Welcome to<br/>Oh My Dog!</h1>
  </header>

  <div class="w3-container w3-padding-32">
    <p class="welcome-text">
      Here you can easily manage your pets, walkers, and schedule walks.
    </p>
  </div>

  <nav class="w3-container w3-padding-32 welcome-nav">
    <%= link_to 'Log In', new_user_session_path, class: "w3-button w3-theme-d1 w3-round-large w3-large w3-margin-bottom welcome-button" %>
    <%= link_to 'Sign Up', new_user_registration_path, class: "w3-button w3-theme-l4 w3-text-theme w3-border w3-border-theme w3-round-large w3-large w3-margin-bottom welcome-button" %>
  </nav>
</div>
