<table class="w3-table">
  <tr>
    <th><h1>Welcome to Oh My Dog! Pet Care</h1></th>
  </tr>

  <tr>
    <td><%= link_to 'Log In', '/login' %></td>
  </tr>

  <tr>
    <td><%= link_to 'Register', '/signup' %></td>
  </tr>

</table>
